
<div  layout="column" style="height:70px;"ng-cloak layout-padding >

  <section layout="row" flex>

    <md-sidenav style="margin-top:64px" class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-content >
        <md-toolbar class="md-hue-2" layout-padding layout="row" layout-align="center center">Filters</md-toolbar>

        <div style="background-color:yellow"><h2 >Manufacturer</h2></div>
        <div ng-repeat="x in dataManufacturer" layout-margin>
        <md-checkbox>{{x}}</md-checkbox>
        </div>

      <div style="background-color:yellow"><h2 >Storage</h2></div>
      <div ng-repeat="x in dataStorage" layout-margin>
      <md-checkbox>{{x+"GB"}}</md-checkbox>
      </div>

      <div style="background-color:yellow"><h2>OS</h2></div>
      <div ng-repeat="x in dataOS" layout-margin>
      <md-checkbox>{{x}}</md-checkbox>
      </div>



      <div style="background-color:yellow"><h2 >Camera</h2></div>
      <div ng-repeat="x in dataCamera|orderBy" layout-margin>
      <md-checkbox>{{x+"Mpx"}}</md-checkbox>
      </div>

      </md-content>

    </md-sidenav>

  </section>

</div>
